# Questions

In [ ]:
#1.loop that prints all prime numbers between given range

In [ ]:
start=int(input("enter start value: "))
end=int(input("enter ending value: "))
print("prime numbers within the range are: ")
for num in range(start,end+1):
    if num>1:
        for i in range(2,num):
            if(num%i==0):
                break
        else:
            print(num)

In [7]:
#2.reversing a integer

In [3]:
number=int(input("enter the number : "))
reverse=0
while number>0:
            remainder=number%10
            reverse=(reverse * 10)+remainder
            number=number//10
print("reversed number: ",reverse)

enter the number : 123456789
reversed number:  987654321

In [8]:
#3.program to add values of two list alternatively in new list

In [9]:
list1=[1,2,3,4,5,6,7]
list2=['sam','tom','mary','jerry','riya','jenny','ken']
for i,j in zip(list2,list1):
    print(i,j)

sam 1
tom 2
mary 3
jerry 4
riya 5
jenny 6
ken 7

In [10]:
# 4.pattern

In [11]:
for i in range(5, 0, -1):
    for j in range(5 - i):
        print("$", end='')
    for k in range(i):
        print("*", end='')
    print()

*****
$****
$$***
$$$**
$$$$*

In [12]:
#5.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
# between 2000 and 3200 (both included).
# The numbers obtained should be printed in a comma-separated sequence on a single line.

In [13]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print( ','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [14]:
# 6.Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

In [ ]:
s = input()
d={"UPPER CASE":0, "LOWER CASE":0}
for c in s:
    if c.isupper():
        d["UPPER CASE"]+=1
    elif c.islower():
        d["LOWER CASE"]+=1
    else:
        pass
print("UPPER CASE", d["UPPER CASE"]) 
print("LOWER CASE", d["LOWER CASE"])

In [ ]:
#7.Write a program that accepts sequence of lines as input and prints the lines after making all characters in the se

In [ ]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print (sentence)

In [ ]:
#8.With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

In [ ]:
#9.# Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target
# You may assume that each input would have exactly one solution, and you may not use the same element twice.

In [ ]:
def two_sum(num,target):
    n=len(num)
    for i in range(n):
        for j in range(i+1,n):
            if num[i]+num[j]==target:
                return [i,j]
    return None
num=[2,7,11,14,13,15]
target=int(input("enter target value: "))
result=two_sum(num,target)
print(result)

In [ ]:
#10. program to check if given year is leap year or not

In [ ]:
def leap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
    
year=int(input("enter the year: "))
if leap(year):
    print(f"{year} is a leap year")
else:
    print(f"it is not leap year")

In [ ]:
#11.Write a program that finds the largest and smallest elements in a list

In [ ]:
def find(elements):
    if not elements:
        return None, None 

    largest = smallest = elements[0]

    for element in elements:
        if element > largest:
            largest = element
        elif element < smallest:
            smallest = element

    return largest, smallest
my_list = [3, 8, 2, 5, 1, 7, 4]
largest_element, smallest_element = find(my_list)

print(f"Largest Element: {largest_element}")
print(f"Smallest Element: {smallest_element}")

In [ ]:
#12. Create a program that finds the common elements between two lists and stores them in a new list

In [ ]:
def find(list1, list2):
    common_elements = [element for element in list1 if element in list2]
    return common_elements

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common= find(list1, list2)

print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Common Elements: {common}")

In [ ]:
#13.Given a list of words, find the word with the maximum length and its length

In [ ]:
def max_length(words):
    if not words:
        return None, 0 

    max_length = max(words, key=len)
    length = len(max_length)

    return max_length,length

# Example usage:
word = ["apple", "banana", "orange", "strawberry", "kiwi"]

max_length, length = max_length(word)

if max_length:
    print(f"Word with Maximum Length: {max_length}")
    print(f"Length: {length}")
else:
    print("The list is empty.")

In [ ]:
#14.given list of names, print all names starting with letter A

In [ ]:
names=input("enter list of names: ")
name_list=names.split()
name_a=[name for name in name_list if name.startswith('A') or name.startswith('a')]
print(f"name starting with A/a are: {name_a}")

In [ ]:
#15.def find_even_numbers(input_list):

In [ ]:
def find_even_numbers(input_list):
    even_numbers = [num for num in input_list if num % 2 == 0]
    return even_numbers

input_numbers = input("Enter a list of integers separated by spaces: ")
numbers = list(map(int, input_numbers.split()))

result = find_even_numbers(numbers)
print("Original list:", numbers)
print("Even numbers:", result)